@use '../abstracts/mixins' as mixins;

.poem {
  @include mixins.simple-grid(var(--size-fluid-2));

  place-content: center;
  text-align: center;
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-7);

  &__stanza {
    font-size: var(--font-size-2);
  }

  &__division {
    background-color: var(--orange-9);
  }
}
